
* {
	box-sizing: border-box;
}

body {
	font-size: 16px;
}

h1 {
	text-align: center;
	font-size: 175%;
}

.text {
	background-color: #92CD00;
	border: 1px solid black;
	margin: 5px; 
}

.title {
	border: 1px solid black;
	position: relative;
	float: right;
	padding: 0px 15px 0px 15px;
	margin: -1px -1px 0px 0px;
	font-size: 125%;

}

.t-1 {
	background-color: lightyellow; 
}

.t-2 {
	background-color: lightblue;
}

.t-3 {
	background-color: lightpink;
}

p {
	padding: 10px;
}

@media (min-width: 992px) {
	.big-small {
	 	float: left;
	 	width: 33.33%;	
	}	
}

@media (min-width: 768px) and (max-width: 991px) {
	.middle-1, .middle-2 {
		float: left;
	 	width: 50%;
	}
	.middle-3 {
		float: left;
	 	width: 100%;
	}
}	

@media (max-width: 767px) {
	.big-small {
		width: 100%;
	}
}